<section id="content-details" class="row clearfix">
  <article id="details-article" class="col-sm-12">
    <h1 id="article-title">We sell pictures of animals!</h1>
  </article>
</section>

<section id="products">
  <% @products.each do |product| %>
    <div class="product clearfix">
      <%= link_to product_path(product) do %>
        <div class="product-image-container">
          <img src="<%= asset_path product.image_name %>" alt="<%= product.title %>">
        </div>
        <div class="product-description">
          <span class="product-price pull-right">$<%= product.price %></span>
          <p class="product-title"><%= product.title %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
